<div class="ctr ">
    <div class="header__inner">
        <a href="/" class="logo">
            <picture>
                <source srcset="/assets/img/logo.webp" type="image/webp">
                <img src="/assets/img/logo.png" alt="МосТурФлот" class="logo__img">
            </picture>
            <span class="logo__text">
                <span class="logo__title">Мостурфлот</span>
                <!-- /.logo__title -->
                <span class="logo__subtitle">Круизная компания</span>
                <!-- /.logo-subtitle -->
              </span>
            <!-- /.logo__text -->
        </a>
        <!-- /.header-logo -->
        <div class="header__content">
            <a href="/booking/tours" class="header__link header__link_phone" title="позвонить нам">Экскурсии</a>
            <!-- /.header__phone -->
            <a href="/booking/news" class="header__link header__link_language" title="switch language to english">Новости</a>
            <!-- /.header__link -->
        </div>
        <!-- /.header__content -->
    </div>
    <!-- /.header__inner -->
</div>
<!-- /.ctr -->